@model List<Product>
<partial name="_Notification" />

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6"><h2 class="text-primary">Лист от продукти</h2></div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i> Създай нов продукт
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Описание
            </th>
            <th>
                Марка
            </th>
            <th>
                Цена
            </th>
            <th>
                Категория
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Description
                </td>
                <td>
                    @obj.Brand
                </td>
                <td>
                    @obj.ListPrice
                </td>
                <td>
                    @obj.Category.Name
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>Промяна
                        </a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-secondary mx-2">
                            <i class="bi bi-file-earmark-x-fill"></i>Изтриване
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>